{% extends './base.html' %}

{% block title %}Base de Datos{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="../static/css/datos.css">
{% endblock %}

{% block body %}
<table>
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Sucursal</th>
            <th>Nombre</th>
            <th>Area de Trabajo</th>
            <th>Comision</th>
            <th>Teléfono</th>
            <th>País</th>
        </tr>
    </thead>
    <tbody>
{% for i in resultado -%}
        <tr>
            <td>{{ i[0] }}</td>
            <td>{{ i[1] }}</td>
            <td>{{ i[2] }}</td>
            <td>{{ i[3] }}</td>
            <td>{{ i[4] }}</td>
            <td>{{ i[5] }}</td>
            <td>{{ i[6] }}</td>
        </tr>
{% endfor -%}
    </tbody>
</table>
{% endblock %}